/* 全局样式 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

/* 侧边栏样式 */
.sidebar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #333;
    color: #fff;
}

.sidebar img.profile-pic {
    max-width: 150px;
    border-radius: 50%;
}

.sidebar h1 {
    margin: 10px 0;
    text-align: center
}

.sidebar p {
    text-align: center;
}

.sidebar a {
    color: #adadad;
    text-decoration: none;
    text-align: center;
}

/* 主要内容样式 */
.main-content {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.main-content ul {
    list-style: none;
    padding: 0;
}

.main-content ul {
    background: #e7e7e7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* 区块样式 */
.education-block, .experience-block {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: auto;
    box-sizing: border-box;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
