body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9; /* 浅色背景 */
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 20%; /* 侧边栏占据20%宽度 */
    background-color: #e8e8e8; /* 浅灰色侧边栏 */
    color: #333;
    padding: 20px;
    height: 100vh; /* 使侧边栏高度充满视口 */
}

.sidebar a {
    color: #555; /* 深灰色链接 */
}

.profile-pic {
    max-width: 100%; /* 图片宽度最大为侧边栏宽度 */
    height: auto; /* 高度自适应 */
    border-radius: 50%;
    border: 2px solid #ccc; /* 浅灰色边框 */
    display: block;
    margin-bottom: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff; /* 白色背景 */
}

.education-block, .experience-block, .activity-block {
    background-color: #ffffff;
    border: 1px solid #e6e6e6; /* 浅灰色边框 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

h2 {
    color: #666; /* 深灰色标题 */
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    color: #444; /* 中灰色小标题 */
}

p, li {
    font-size: 14px;
    color: #333; /* 深灰色正文 */
}

.uni-logo {
    max-width: 100%; /* logo宽度最大为包含块宽度 */
    height: auto; /* 高度自适应 */
    display: block;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #e8e8e8; /* 浅灰色底部栏 */
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
